<h2 mat-dialog-title >Informacion personal</h2>
<hr>
<div class="inf">
  <span>Nombre:</span>
  
  <p>Scarleth</p>
  <span>Apellido:</span>
  
  <p>Guzman Montecinos</p>
  <span>Edad:</span>
  
  <p>25 años</p>
  <span>Direccion:</span>
  
  <p>Av. Circunvalacion y Ciudad del niño</p>
  <span>Estado Civil:</span>
  
  <p>Soltera</p>
  <span>Celular:</span>
  
  <p>60730073</p>
  <span>Correo Electronico:</span>
  
  <p>guzman.sm7@gmail.com</p>

  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button style="background-color:#333333; color: #FEC935;" mat-dialog-close type="submit">Cerrar</button>
 
  </div>

</div>
