.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.centrar {
  text-align: center;
  
}

h1{
  
    font-family: Ubuntu; /*titulo*/
    color: #333333;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    font-family: Ubuntu;
 
    
  
}
mat-label{

  color: black;
  font-weight: 500;
  font-family: Poppins; /*cuerpo*/
}
.izq {
  text-align: center;
}

 mat-raised-button {
  background-color: #FEC935;
  font-family: Poppins;
}

th{
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: ubuntu;
}

td{
  font-family: Poppins;
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}

.icono-1 {
  color: #FEC935;
}

.icono-2 {
  color: #333333;
}

/*footer*/
.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  
}

.sobre-mi .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.text-uppercase h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}
.footer-one h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}

.footer-one h5 svg {
  color: #FEC935;
  
}


.footer-one a svg  {
  background-color: #FEC935;
  color:  #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.footer-one a svg:hover{
  background-color: #333333;
  border: 2px solid #333333;
}


.pie {
  background-color: #333333;
  width: 100%;
  height: 100%;
  
}
.pie .logo h3 {
  color: #FEC935;
  margin: 20px;
  font-size: 1.2rem;
  font-family: ubuntu;
}


.pie p{
  text-align: center;
  color: #FEC935;
  margin: 10px;
  
}


@media(min-width: 768px){
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


/*responsive media query start*/
@media (max-width: 1300px){
  .inicio .ancho-maximo{
    margin-left: 0px;
  }
}

@media (max-width: 1104px){
  .sobre-mi .contenido-sobremi .izquierda img{
    height: 350px;
    width: 350px;
  }
}



@media (max-width: 947px){
  .ancho-maximo {
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i .active:before{
    content: "U+F479";
   }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #FEC935;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease; 
  
  }  
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
  }
  
  
  .inicio .contenido-inicio .text-1{
    font-size: 26px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 45px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 32px 
  }
  
  .ancho-maximo{
    max-width: 800px;
  }

  .inicio .contenido-inicio .boton{
    font-size: 16px;
    padding: 8px 20px;
  }

  .sobre-mi .contenido-sobremi .columna{
    width: 100%;
  }

  .sobre-mi .contenido-sobremi .izquierda{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .sobre-mi .contenido-sobremi .derecha{
    flex: 100%;

  }

  .portafolio .portafolio-content .card{
    width: calc(50% - 10%px);
    margin-bottom: 20px;

  }
  .contactos .ancho-maximo{
    max-width: 800px;
  }
}


@media (max-width: 690px){
  .ancho-maximo{
    padding: 0 23px;
  }
  .inicio .contenido-inicio .text-1{
    font-size: 24px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 54px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 30px; 
  } 
  .inicio .contenido-inicio .a{
    font-size: 20px;
    
  }

  .portafolio .portafolio-content .card{
    width: 100%;


  }
}

@media (max-width: 500px){
  .inicio .contenido-inicio .text-1{
    
    font-size: 18px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 38px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 24px; 
  }
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

@media (max-width: 500px){
  .container .mat-elevation-z8 {
    width: 100%;
  }

}